@{
    Layout = "~/Views/Admin/_Layout.cshtml";
}

@model Category


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0"><i class="fa-solid fa-pen-to-square"></i> Edit Category</h5>
                </div>
                <div class="card-body">
                    <form asp-action="EditPost" method="post">
                        <input type="hidden" asp-for="Id" />

                        <div class="mb-3">
                            <label asp-for="Name" class="form-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-primary">Update</button>
                        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


